/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
#content {
    background-color: #acacac;
    width: 1450px;
    min-height: 300px;
    padding: 10px;
    margin: 15 px;
    border: ridge 15px #d8d1c5;
    font-size: 20px;
}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dotted 8px #8bd5f5;
    background-color: #c02424;
}

h1 {
    font-family: serif;
    font-style: oblique;
    font-weight: 1000;
    color: #332d24;
    font-size: 250%;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#eda240;
    font-variant: small-caps;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#e1c27b;
    font-variant: small-caps;
}

h4 {
    font-family: serif;
    font-style: oblique;
    font-weight: 1000;
    color: #f0f0f0;
    font-size: 180%;
    margin-block-start: 15px;
    margin-block-end: 15px;
}

p {
    font-family: cursive;
    font-size:85%;
    color: #f0f0f0;
    text-indent: 30px;
    margin-left: 10px;
    text-align: justify;
}

a {
    color: #2c69d2;
}

.text1 p {
    display: inline-block;
    max-width: 60%;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #895353;
    color: #fbbf70;
    font-family: sans-serif;
    font-size: 0.8em;
    text-indent: 0px;
}

#reveal {
    text-align: right;
}

#output1 {
    text-align: right;
}