/* this css file will only style the homepage of our site */

h1 {
  font-family: serif;
  font-style:normal;
  font-weight: 1000;
  color: #591a6e;
  font-size: 280%;
  text-align: left;
}

h2 {
  font-family: serif;
  font-style: oblique;
  font-weight: 1000;
  color: #326c9b;
  font-size: 250%;
  text-align: center;
}

h3 {
  font-family: serif;
  font-style: normal;
  font-weight: 1000;
  color: #326c9b;
  font-size: 150%;
  text-align: center;
}

h4 {
  font-family: serif;
  font-style: normal;
  font-weight: 1000;
  color: #591a6e;
  font-size: 150%;
  text-align: left;
}

p {
  font-family:cursive;
  text-align: center;
}

.sparkles {
  font-size: larger;
  color: #000000;
  text-align: center;
}

.MySubtleSebastianCosplay {
  margin: 10px;
  max-width: 150px;
  display: block;
  margin: auto;
}

.cosplayrow {
  display: flex;
}

.cosplaycolumn {
  display: block;
  margin: auto;
  padding: 5px;
}

.row {
  display:flex;
  padding: auto;
}

.column {
  display: block;
  margin: auto;
  flex: 33.33%;
  padding: 25px;
}

.captionrow {
  display: flex;
}

.captioncolumn {
  flex: 33.33%;
  padding: 25px;
}

.LordCinnamoroll {
  margin: 0;
  max-width: 100%;
  display: block;
  padding: 0;
}

.TsumMalleus {
  margin: 0;
  max-width: 100%;
  display: block;
  padding: 0;
}

.BlackButler {
  margin: 0;
  max-width: 100%;
  display: block;
  padding: 0;
}

.caption {
  font-family: cursive;
  font-size: 77%;
  text-align: center;
  padding: auto;
}

.ul {
  list-style-type: none;
  padding: 0;
}

ul.music {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

#content {
  background-color: #88b08f;
  width: 1450px;
  min-height: 300px;
  padding: 10px;
  margin: 15 px;
  border: outset 7px #492c5b;
  font-size: 20px;
}

.minor-section {
  padding: 10px;
  margin-bottom: 15px;
  border: double 10px #1e556a;
  background-color: #c3daf6;
}