/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }
  
  #content {
    background-color: #40508c;
    width: 1450px;
    min-height: 300px;
    padding: 10px;
    margin: 15 px;
    border: ridge 7px #ffde3c;
    font-size: 20px;
  }
  
  .minor-section {
      padding: 10px;
      margin-bottom: 10px;
      border: double 10px #4e1188;
      background-color: #bababa;
  }
  
  h1 {
    font-family: serif;
    font-style: oblique;
    font-weight: 1000;
    color: #000000;
    font-size: 250%;
  }
  
  h2 {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color:#6d8ec0;
      font-variant: small-caps;
  }
  
  p {
    font-family: cursive;
    font-size:85%;
    text-indent: 30px;
    margin-left: 10px;
  }
  
  .caption {
    font-family: cursive;
    font-size: 77%;
    text-align: center;
  }
  
  a {
  color: #000000;
  }

  .special {
    background-color: #004d1a;
    border: dotted 7px #000000; 
    color: #c6c5c5;
    font-weight: bold;
  }