/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
  #content {
    background-color: #000000;
    width: 1450px;
    min-height: 300px;
    padding: 10px;
    margin: 15 px;
    border: ridge 7px #ffffff;
    font-size: 20px;
  }
  
  .minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: double 10px #4e1188;
    background-color: #bababa;
  }
  
  h1 {
    font-family: serif;
    font-style: oblique;
    font-weight: 1000;
    color: #d30000;
    font-size: 250%;
  }
  
  h2 {
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color:#585858;
      font-variant: small-caps;
  }
  
  p {
    font-family: cursive;
    font-size:85%;
    text-indent: 30px;
    margin-left: 10px;
  }
  
  .caption {
    font-family: cursive;
    font-size: 77%;
    text-align: center;
  }
  
  a {
  color: #d30000;
  }

  #convo {
    background-color: #585858;
    margin: 10px auto;
    padding: 0px;
    border-radius: 15px;
    border: solid 1px #000000;
    max-width: 450px;
    text-align: right;
    overflow: hidden;
  }

  #convo-header {
    text-align: center;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    padding: 5px;
  }

  #convo-thumb {
    border-radius: 50%;
    width: 50px;
  }
  
  #convo-thumb img {
    border-radius: 50%;
    width: 50px;
  }

  #convo button {
    margin: 10px;
    width: calc(100% - 20px);
  }
  
  .text p {
    display: inline-block;
    max-width: 60%;
    margin: 3px;
    padding: 5px 10px;
    border-radius: 15px;
    background-color: #000000;
    color: #ff0000;
    font-family: sans-serif;
    font-size: 0.8em;
    text-indent: 0px;
  }
  
  #convo1 {
    background-color: #585858;
    margin: 10px auto;
    padding: 0px;
    border-radius: 15px;
    border: solid 1px #000000;
    max-width: 450px;
    text-align: right;
    overflow: hidden;
  }

  #convo-header1 {
    text-align: center;
    margin-bottom: 10px;
    background-color: #f8f8f8;
    padding: 5px;
  }

  #inputdisplay {
    text-align: center;
  }

  .text:nth-child(odd) {
    text-align: left;
  }
  
  .text:nth-child(even) p {
    text-align: right;
    background-color: #bababa;
    color: #313188;
    text-align: left;
  }
  