/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

.caption {
  font-family: cursive;
  font-size: 77%;
  text-align: center;
}

#content {
  background-color: #506b47;
  width: 1450px;
  min-height: 300px;
  padding: 10px;
  margin: 15 px;
  border: ridge 7px #9d97b3;
  font-size: 20px;
}

.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dashed 3px #603787;
    background-color: #b4cdba;
}

h1 {
  font-family: serif;
  font-style: oblique;
  font-weight: 1000;
  color: #b5b4cf;
  font-size: 250%;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#006265;
    font-variant: small-caps;
}

p {
  font-family: cursive;
  font-size:85%;
  text-indent: 30px;
  margin-left: 10px;
}

.caption {
  font-family: cursive;
  font-size: 77%;
  text-align: center;

}

.Art101LocalFileStructure {
  margin: 10px;
  max-width: 75%;
  display: block;
  margin: auto;
}

.HomepageHTML {
  margin: 10px;
  max-width: 75%;
  display: block;
  margin: auto;
}

.HomepageBrowser {
  margin: 10px;
  max-width: 75%;
  display: block;
  margin: auto;
}

.Lab3HTML {
  margin: 10px;
  max-width: 75%;
  display: block;
  margin: auto;
}
.Lab3Browser {
  margin: 10px;
  max-width: 75%;
  display: block;
  margin: auto;
}