/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */

h1 {
  font-family: serif;
  font-style: oblique;
  font-weight: 1000;
  color: #591a6e;
  font-size: 250%;
}

p {
  font-family: cursive;
  text-indent: 30px;
  margin-left: 10px;
}

.caption {
  font-family: cursive;
  font-size: 77%;
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

#content {
  background-color: #44C81A;
  width: 1450px;
  min-height: 300px;
  padding: 10px;
  margin: 15 px;
  border: dotted 7px #5C2985;
  font-size: 20px;
}

h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-variant: small-caps;
}

.minor-section {
    padding: 10px;
    margin-bottom: 15px;
    border:dashed 3px #5C2985;
    background-color: #5dc19c;
  }